<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
<form id="home" method="get" ></form>
<button type="submit" form="home"  formaction="/web-app" >На главную страницу</button>
<br>


<br>
<table border="1" width="60%" cellpadding="5">
    <tr>
        <td>
            <h2>ВЫБРАТЬ ДЕНЬ И ВРЕМЯ ДЛЯ НОВОГО РЕЙСА:</h2>
            <form id="field" method="get">
                <label for="date_from">ДАТА И ВРЕМЯ ОПРАВЛЕНИЯ:</label>
                <input id="date_from" type="datetime-local" name="date_from" >

                <label for="date_to">ДАТА И ВРЕМЯ ПРИБЫТИЯ:</label>
                <input id="date_to" type="datetime-local" name="date_to" >
            </form>
            <br>
            <p>
                <button type="submit" form="field" formaction="/web-app/admin/flight" >СОЗДАТЬ РЕЙС</button>
            </p>
        </td>
    </tr>
</table>
</body>
</html>