<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="EXIT" />
</form>
<a th:href="@{/}"> На главную страницу</a>

<h3>СТАТУС ОШИБКИ : <t th:text="${except.errorCode}" /></h3>
<h3>ТИП ОШИБКИ :  <t th:text="${except.typeException}" /></h3>
<h3>ИНФОРМАЦИЯ :  <t th:text="${except.info}" /></h3>
</body>
</html>