<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>FLIGHT LIST</title>
</head>
<body>
<a th:href="@{/}"> На главную страницу</a>
<br>
<br>
<br>
<h3>РЕЙСЫ:</h3>
<div th:if= "${flights != null}">
    <table border="1" width="65%" cellpadding="5">
        <tr>
            <th>НОМЕР РЕЙСА:</th>
            <th>ГОРОД ОТПРАВЛЕНИЯ: </th>
            <th>ДАТА И ВРЕМЯ ОТПРАВЛЕНИЯ: </th>
            <th>ДЛИТЕЛЬНОСТЬ: </th>
            <th>ГОРОД ПРИБЫТИЯ: </th>
            <th>ДАТА И ВРЕМЯ ПРИБЫТИЯ:</th>
            <th>САМОЛЕТ ID</th>
            <th>НАЗВАНИЕ САМОЛЕТА</th>
            <th></th>
        </tr>
        <tr th:each="flight : ${flights}">
            <td th:text="${flight.numberFlight}">Nothing</td>
            <td th:text="${flight.departureCity}">Nothing</td>
            <td th:text="${flight.departureDateTime}">Nothing</td>
            <td th:text="${flight.durationFlight}">Nothing</td>
            <td th:text="${flight.arriveCity}">Nothing</td>
            <td th:text="${flight.arriveDateTime}">Nothing</td>
            <td th:text="${flight.plane.id}">Nothing</td>
            <td th:text="${flight.plane.namePlane}">Nothing</td>
            <td> <a th:href="@{/flight/{id}(id=${flight.id})}">
                СВОБОДНЫЕ МЕСТА
            </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>