<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>FLIGHT</title>
</head>
<body>
<a th:href="@{/}"> На главную страницу</a>
<h1>Form</h1>
<form action="#" th:action="@{/admin/flight/new}" th:object="${flight}" method="post">
    <p>НОМЕР РЕЙСА: <input type="text"  th:field="*{numberFlight}" />
        <span th:if="${#fields.hasErrors('numberFlight')}" th:errors="*{numberFlight}">Name Error</span>
    </p>

    <p>ГОРОД ОТПРАВЛЕНИЯ: <input type="text"   th:field="*{departureCity}" /></p>
    <p>ДАТА И ВРЕМЯ ОТПРАВЛЕНИЯ: <input type="text"   readonly th:field="*{departureDateTime}"  /></p>
    <p>ГОРОД ПРИБЫТИЯ: <input type="text"  th:field="*{arriveCity}"  /></p>
    <p>ДАТА И ВРЕМЯ ПРИБЫТИЯ: <input type="text"  readonly th:field="*{arriveDateTime}"  /></p>
    <p>ID самолета: <input type="text"  th:field="*{plane.id}" pattern="^[0-9]+$"  required/></p>
    <p><input type="submit" value="Создать" /> <input type="reset" value="Сбросить" /></p>
</form>
<br>
</body>
</html>