<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>FORM NEW USER</title>
</head>
<body>
<a th:href="@{/}"> На главную страницу</a>
<br>
<h1>NEW USER</h1>
<form action="#" th:action="@{/users/save}" th:object="${userDto}" method="post">
    <p>LOGIN: <input type="text" required th:field="*{login}"/>
        <span th:if="${#fields.hasErrors('login')}" style ="color: red;" class="alert alert-error" th:errors="*{login}">Name Error</span></p>
    <p>PASSWORD: <input type="password" required  th:field="*{password}"/></p>
    <p>E-MAIL: <input type="text" required th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}" style ="color: red;" class="alert alert-error" th:errors="*{email}">Name Error</span>
    </p>
    <p>FIRST NAME: <input type="text"  th:field="*{client.firstName}" required pattern="^[a-zA-Z]+$"/></p>
    <p>SECOND NAME: <input type="text"  th:field="*{client.secondName}" required pattern="^[a-zA-Z]+$"/></p>
    <p>PHONE NUMBER: <input type="text"  th:field="*{client.phoneNumber}" pattern="(^[0-9]{0,9})+$"/></p>
    <p><input type="submit" value="Создать" /> <input type="reset" value="Сбросить" /></p>
</form>

</body>
</html>