<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>AVIASALES</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="EXIT" />
</form>
<br>
<br>
<a th:href="@{/ticket/list}"> Мои билеты</a>
<br>
<br>
<a th:href="@{/profile}"> Личный каинет</a>
<br>
<br>
<div sec:authorize="hasAuthority('ADMIN')">
<a th:href="@{/admin}"> КАБИНЕТ АДМИНИСТРАТОРА</a>
</div>
<br>


<br>
<table border="1" width="60%" cellpadding="5">
    <tr>
        <td>
            <h2>ПОИСК РЕЙСА:</h2>
            <form action="#" th:action="@{/flight/list}" method="post">
                <p>ДАТА ВЫЛЕТА: <input type="date" th:field="*{field.startData}"  required /></p>
                <p>ГОРОД ВЫЛЕТА: <input type="text" required  th:field="*{field.departureCity}" /></p>
                <p>ГОРОД ПРИБЫТИЯ: <input type="text" required  th:field="*{field.arriveCity}" /></p>
                <p>АВИАКОМПАНИЯ: <input type="text"  th:field="*{field.nameCompany}" /></p>
                <p><input type="submit" value="НАЙТИ" /> <input type="reset" value="Сбросить" /></p>
            </form>
        </td>
    </tr>
</table>
<br>
<br>
<h3>РЕЙСЫ:</h3>
<div th:if= "${flights != null}">
    <table border="1" width="65%" cellpadding="5">
        <tr>
            <th>НОМЕР РЕЙСА:</th>
            <th>ГОРОД ОТПРАВЛЕНИЯ: </th>
            <th>ДАТА И ВРЕМЯ ОТПРАВЛЕНИЯ: </th>
            <th>ДЛИТЕЛЬНОСТЬ: </th>
            <th>ГОРОД ПРИБЫТИЯ: </th>
            <th>ДАТА И ВРЕМЯ ПРИБЫТИЯ:</th>
            <th>САМОЛЕТ ID</th>
            <th>НАЗВАНИЕ САМОЛЕТА</th>
            <th></th>
        </tr>
        <tr th:each="flight : ${flights}">
            <td th:text="${flight.numberFlight}">Nothing</td>
            <td th:text="${flight.departureCity}">Nothing</td>
            <td th:text="${flight.departureDateTime}">Nothing</td>
            <td th:text="${flight.durationFlight}">Nothing</td>
            <td th:text="${flight.arriveCity}">Nothing</td>
            <td th:text="${flight.arriveDateTime}">Nothing</td>
            <td th:text="${flight.plane.id}">Nothing</td>
            <td th:text="${flight.plane.namePlane}">Nothing</td>
            <td> <a th:href="@{/flight/{id}(id=${flight.id})}">
            СВОБОДНЫЕ МЕСТА
        </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>