<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TICKET</title>
</head>
<body>
<a th:href="@{/}"> На главную страницу</a>
<h1>Form</h1>
<form action="#" th:action="@{/ticket/book}" th:object="${ticketDto}" method="post">
    <p>ИМЯ: <input type="text" th:field="*{firstNamePassenger}" />
        <span th:if="${#fields.hasErrors('firstNamePassenger')}" style ="color: red;" class="alert alert-error" th:errors="*{firstNamePassenger}">Name Error</span>
    </p>
    <p>ФАМИЛИЯ: <input type="text" th:field="*{secondNamePassenger}" />
        <span th:if="${#fields.hasErrors('secondNamePassenger')}" style ="color: red;" class="alert alert-error" th:errors="*{secondNamePassenger}">Name Error</span>
    </p>
    <p>ТЕЛЕФОН: <input type="text"  th:field="*{phoneNumberPassenger}"  required pattern="(^[0-9]{0,9})+$"/>
    </p>
    <p>ПАССПОРТ: <input type="text"  th:field="*{passportNumberPassenger}"  />
        <span th:if="${#fields.hasErrors('passportNumberPassenger')}" style ="color: red;" class="alert alert-error" th:errors="*{passportNumberPassenger}">Name Error</span>
    </p>
    <p><input type="text"  th:field="*{seat.id}"  hidden="true"/></p>
    <p><input type="text"  th:field="*{client.id}"  hidden="true"/></p>
    <p><input type="submit" value="ЗАРЕГЕСТРИРОВАТЬ" /> <input type="reset" value="Сбросить" /></p>
</form>
<br>
<h1>Список пассажирова для подстановки:</h1>
<hr>
<div th:if= "${ticketDto.client.passengers != null}">
    <table border="1" width="65%" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>имя</th>
            <th>фамилия</th>
            <th>номер телефона</th>
            <th>номер пасспорта</th>
        </tr>
        <tr th:each="pass : ${ticketDto.client.passengers}">
            <td th:text="${pass.id}">Nothing</td>
            <td th:text="${pass.firstName}">Nothing</td>
            <td th:text="${pass.secondName}">Nothing</td>
            <td th:text="${pass.phoneNumber}">Nothing</td>
            <td th:text="${pass.passportNumber}">Nothing</td>
        </tr>
    </table>
</div>
</body>
</html>